<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


		<!-- Resources -->
        <script src="/js/jsxgraphcore.js"></script>
        <link rel="stylesheet" type="text/css" href="/resources/semantic-ui/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/css/jsxgraph.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">


		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
			"AssistiveMML": {
			  disabled: true
			}
			});
		  </script>

		<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
		<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>


<title>Square Root</title>